/*header部分的样式*/

.header {
    height: 65px;
    width : 100%;
    position:fixed;
    top :0;
    right:0;
    z-index: 100;
    box-shadow: 3px 4px 3px rgba(234,234,234,0.9);
    background: white;
    opacity: 0.9;
}
.header .city{
    float: left;
    margin-left: 150px;
    margin-top: 25px;
}

.header .city a{
    font-size: 16px;
    font-weight: bold;
    color: #000;
}
.header_left{
    width: 280px;
    height: 40px;
    float: left;
    margin-left: 100px;
    margin-top: 10px;

}
.header_right{
    float: left;
    margin-left: 70px;
}
.header_right .header_list li{
    float: left;
    margin-left: 30px;
    margin-top: 25px;
}
.header_right .header_list li a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
.header_right .header_list li a:hover{
    transition: 0.5s;
    color: #d43f3a;
}
.header_right .header_list li a:active{
    color: #d43f3a;
}

.header_right .header_list li .login {
    width: 80px;
    height: 30px;
    background-color: #d43f3a;
    border-radius: 8%;
    margin-top: -5px;
    line-height: 30px;
    text-align: center;
}
.header_right .header_list li .login a{
    color: white;
}
