.login{
    width: 100%;
    height: auto;
}
.login_1{
    width: 330px;
    height: auto;
    margin: 200px auto;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
}
.logo{
    width: 300px;
    height: 60px;
    margin: 20px auto;
}
.logo img{
    width: 100%;
}
.input-group{
    width: 280px;
    height: 50px;
    margin-left: 25px;
}
.logo_box{
    overflow: hidden;
    padding-bottom: 10px;
}
.input-group input{
    height: 50px;
}
.btn{
    margin-top: 20px;
    width: 280px;
    margin-left: 25px;
}
.text{
    margin-top: 20px;
    width: 330px;
    height: auto;
}
.text a span{
    float: left;
    margin-left: 25px;
}
.text .text_right span{
    float: right;
    margin-right: 25px;
}
.register{
    width: 330px;
    height: 450px;
}
.code_box{
    margin-top: 10px;
    width: 300px;
    margin-left: 25px;
    overflow: hidden;
}
.yan{
    float: left;
    width: 202px;
}
.get{
    float: left;
    width: 80px;
    height:100px;
    background-color: #e4e4e4;
}
.get a{
    display:block;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.yan img{
    width: 202px;
    height: 50px;
}
.yan input{
    width: 202px;
    height: 50px;
}
.register_1{
    margin-top: 10px;
}
.register_2{
    margin-top: 10px;
}
.duo {
    margin-top: 10px;
    margin-left: 25px;

}
.duo a{
    text-decoration: none;

}
.duo label{
    line-height: 13px;
    vertical-align: middle;
}
.qie{
    text-align: center;
    display: block;
    margin-top: 10px;
    text-decoration: none!important;
    cursor: pointer;
}


